.mr-top {
	margin-top: 70px;
}

/*-------------------*/


.bg-service {
	position: relative;
}

.img-service {
	width: 100%;
	height: auto;
}

.des-service {
	background-color: #1B2754;
    color: white;
    text-align: justify;
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 40px 10%;
}

.des-service h1,
.des-service h2,
.des-service h3,
.des-service h4,
.des-service h5,
.des-service h6 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.des-service p {
	font-size: 15px;
    font-weight: 400;
}

@media(max-width: 991px) {
	.des-service {
		position: unset;
		width: 100%;
	}
}

@media(max-width: 450px) {
	.des-service p {
		font-size: 14px;
	}

	.des-service {
		padding: 40px 20px;
	}
}


.bg-service-2 {
	background-color: #F2F2F5;
	padding-top: 70px;
}

/*nổi bật*/

.title-service {
	color: #3568D4;
	font-size: 34px;
	font-weight: 600;
	text-align: center;
}

.list-serive {
	margin-top: 30px;
}

.list-serive img {
	width: 100%;
	height: auto;
	border-radius: 20px;
}

.list-serive h3 {
    color: #1B2754;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-serive p {
	color: #1B2754CC;
	font-size: 15px;
	font-weight: 400;
}

.content-service {
	background-color: white;
	margin-top: 70px;
}

.intro-service-2 {
	color: #1B2754;
	font-size: 15px;
	font-weight: 400;
	margin-top: 20px;
}

.intro-service-2 p {
	margin-bottom: 10px;
}

.intro-service-2 ul,
.intro-service-2 ol {
    list-style: revert;
    padding-left: 35px;
}

.intro-service-2 li {
	margin-bottom: 5px;
}


/*Đăng ký nhận điểm tin tại đây !*/

.bg-register {
	background-color: #3568D4;
	color: white;
	padding: 55px 15%;
}

.note-register {
	display: flex;
}

.note-register li:nth-child(1) {
	margin-right: 30px;
}

.note-register i {
	font-size: 50px;
}

.text-register {
	font-size: 15px;
	font-weight: 600;
}

.text-register-2 {
	font-size: 24px;
	font-weight: 600;
}

.bg-register-2 {
	background-color: #1B2754;
	color: white;
	padding: 20px 0;
	position: relative;
}

.text-register-3 {
	font-size: 24px;
	font-weight: 600;
	position: relative;
    z-index: 1;
}

.icon-arrow {
	font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 20px;
    background-color: #1B2754;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

@media(max-width: 450px) {
	.bg-register {
		padding: 40px 20px;
	}

	.note-register i {
		font-size: 30px;
	}

	.text-register {
		font-size: 12px;
	}

	.text-register-2 {
		font-size: 18px;
	}

	.text-register-3 {
		font-size: 20px;
	}

	.icon-arrow {
		font-size: 22px;
		width: 70px;
    	height: 70px;
    	padding-top: 35px;
	}
}

/*form*/

.bg-form {
	margin-top: 100px;
	padding-bottom: 80px;
}

.form-contact label {
	font-size: 15px;
	font-weight: 500;
	width: 100%;
	margin-bottom: 15px;
	color: black;
}

.input-contact {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
}

.input-contact input {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #1B2754;
    padding: 15px 12px;
}

.textarea-form {
    width: 100%;
    border: 1px solid #1B2754;
    padding: 15px 12px;
    margin-top: 10px;
    height: 120px;
}

.text-form {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 20px;
}

.sub-form {
	background-color: #1B2754;
	color: white;
	font-size: 15px;
	font-weight: 500;
	border: none;
	padding: 10px 25px;
	transition: 0.3s;
}

.sub-form:hover {
	opacity: 0.9;
}

@media(max-width: 740px) {
	.form-contact {
		margin-bottom: 40px;
	}
}

@media(max-width: 450px) {
	.input-contact {
		display: block;
	}
}


/*body trang about us*/

.bg-about {
	display: grid;
	grid-template-columns: 50% 50%;
}

.content-about {
	padding: 70px 20%;
}

.content-about-2,
.content-about-3 {
	position: relative;
}

.content-about-2::before {
	content: "";
    width: 15%;
    height: 100%;
    top: 0;
    left: -2px;
    background-color: #fff;
    position: absolute;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.content-about-3::before {
	content: "";
    width: 15%;
    height: 100%;
    top: 0;
    right: -2px;
    background-color: #fff;
    position: absolute;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    transform: rotate(-180deg);
}

@media(max-width: 1400px) {
	.content-about {
		padding: 40px 10%;
	}
}

@media(max-width: 1024px) {
	.bg-about {
		display: flex;
		flex-direction: column;
	}

	.content-about-2::before,
	.content-about-3::before {
		display: none;
	}

	.bg-about-2 {
		flex-direction: column-reverse;
	}

	.content-about {
		padding: 40px 20px;
	}
} 


/*body trang contact*/

.bg-contact {
	background-color: #1B2754;
	padding: 40px 0;
}

.title-contact {
	font-size: 34px;
	font-weight: 600;
	color: white;
}

.des-contact {
	color: #1B2754;
	font-size: 16px;
	font-weight: 500;
	padding: 30px 0;
}

.bg-contact-2 {
	margin-top: 60px;
	margin-bottom: 50px;
}

.list-contact {
	display: flex;
    border: 1px solid #C7C9D9;
    padding: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.list-contact:hover {
	transform: scale(0.9);
}

.list-contact img {
    height: 120px;
    object-fit: scale-down;
    margin-right: 25px;
}

.list-contact h3 {
	font-size: 14px;
	font-weight: 400;
	color: black;
	border-bottom: 1px solid #C7C9D9;
	margin-bottom: 10px;
    padding-bottom: 10px;
}

.list-contact p {
	font-size: 12px;
	font-weight: 400;
	color: black;
}

@media(max-width: 1200px) {
	.list-contact img {
		height: 60px;
	}
}

@media(max-width: 450px) {
	.title-contact {
		font-size: 25px;
	}
}


/*body trang category*/

.content-cate {
	margin-top: 40px;
}

.img-cate img {
	width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.title-cate {
	color: #1B2754;
	font-size: 20px;
	font-weight: 600;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 10px 0;
}

.excerpt-cate {
	color: #1B2754CC;
	font-size: 15px;
	font-weight: 400;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.pagination {
	justify-content: center;
	margin: 55px 0;
}

.pagination span,
.pagination a {
	font-size: 15px;
    padding: 5px 15px;
    font-weight: 500;
    margin: 0 5px;
}

.pagination a {
    border: 1px solid #3568D4;
    color: #3568D4;
}

.pagination span {
	background-color: #3568D4;
	color: white;
}

@media(max-width: 1400px) {
	.img-cate img {
		height: 250px;
	}
}


/*body trang single*/

.bg-single {
	margin: 70px 0;
}

.intro-single {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.img-single img {
	width: 100%;
	height: auto;
}

.content-single {
	padding-right: 20px;
}

.content-single p {
	font-size: 15px;
	font-weight: 400;
	color: #1B2754;
	margin: 10px 0;
}

.content-single h1,
.content-single h2,
.content-single h3,
.content-single h4,
.content-single h5,
.content-single h6 {
	font-size: 20px;
	font-weight: 600;
	margin: 10px 0;
}

.content-single img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.title-single {
	color: #1B2754;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.related-post {
	margin-bottom: 40px;
}

.bg-404 {
	text-align: center;
}

@media(max-width: 991px) {
	.content-single {
		margin-bottom: 30px;
	}

	.bg-404 img {
		width: 100%;
	}
}

@media(max-width: 740px) {
	.intro-single {
		height: 400px;
	}
}

@media(max-width: 450px) {
	.intro-single {
		height: auto;
	}
}




